# fly.toml app configuration file generated for monkey-pocket-server on 2025-12-04

app = "monkey-pocket-server"
primary_region = "hkg"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[env]
  PORT = "3000"
  DATA_DIR = "/data"

[[mounts]]
  source = "data"
  destination = "/data"
